html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#page-land {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.text-haiku {
  font-size: 1.7rem;
  font-family: sans-serif;
  flex: 0 0 auto;
}
.image-container {
  width: 389px;
  height: 440px;
  background-image: url("./joe.png");
  background-repeat: no-repeat;
  flex: 0 1 auto;
}

.page {
  width: 100vw;
  height: 100vh;
  padding: 3rem;
  box-sizing: border-box;
}
.page:nth-child(even) {
  background: #222;
}

span {
  color: #88FE88;
}

.highlight {
  color: #FF88FF;
}

.italics {
  font-style: italic;
}
body {
  background-color: #333333;
  color: #fefefe;
  font-size: 1.2rem;
  font-family: sans-serif;
  
}
