html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-size:1.4rem;
  font-family: sans-serif;
  transition: ease all 0.5s;
  background: #333333;
  background-image: url('background.svg');
  background-position: 50% 50%;
  background-repeat: repeat;
}  

body, a, a:hover, a:visited {
  text-decoration: none;
  color: #fefefe;
}
a {
 line-height: 2rem;
}

a:before {
  content: "[ ";
}
a:after {
  content: " ]";
}
a.target {
  display: none;
}

.contact {
  position: absolute;
  top: 3rem;
  right: -1rem;
  transform: rotate(90deg);
}
.image-container {
  height: 70vh;
}

#page-land {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  transition: ease all 0.5s;
}

.text-haiku {
  font-size: 2rem;
  font-family: sans-serif;
  flex: 0 0 auto;
  transition: ease all 0.5s
}
.image-container {
  flex: 0 1 auto;
  margin: -1.8rem;
  transition: ease all 0.5s
}

.page {
  width: 100vw;
  min-height: 100vh;
  padding: 1.5rem 2.5rem 1.5rem 1.5rem;
  box-sizing: border-box;
  background:rgba(0,0,0,0.3);
}

.page:nth-child(odd) {
  background: rgba(64,64,64,0.3);
}
#page-skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page-skills h2,
#pake-skills p {
  flex: 0 0 auto
}
#page-skills svg {
  flex: 1 1 auto;
}
span {
  color: #88FE88;
}

.highlight {
  color: #FF88FF;
  font-size: larger;
}

.italics {
  font-style: italic;
}

.grid {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  grid-auto-flow: dense;

}

/* second image */
.grid img:nth-child(4n-1) {
  grid-column: 3/4;
}
/* second item */
.grid div:nth-child(4n) {
  background-color: #222;
  grid-column: 1/3;
}

/* container with .pf-title, pf-features, pf-description */
.pf-item {
  background-color: #111;
  padding: 1rem;
  box-sizing: border-box;
  grid-column: 2/4;
}

.pf-img {
  object-fit: cover;
  min-height: 100%;
  width: 100%;
  grid-column: 1;
}

.pf-title {
  display: inline;
  font-size: 1.5rem;
}
.pf-link {
 font-size: 1rem;
}


.pf-features {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.pf-features li {
  display: inline;
  border: 1px #883388 solid;
  background: #ffccff;
  color: #883388;
  font-size: 0.85rem;
  padding: 0.3rem 0.6rem;;
  border-radius: 0.3rem;
}
.pf-description {
  font-size: 1rem;
}

svg .svg-rect-1, 
svg .svg-rect-2, 
svg .svg-rect-3 {
  stroke: #888888;
  height: 1.5rem;
}
svg .svg-rect-1 { fill: #88ff88; }
svg .svg-rect-2 { fill: #00ff00; }
svg .svg-rect-3 { fill: #008800; }

svg .svg-text-1, 
svg .svg-text-2, 
svg .svg-text-3 {
  fill: #333;
  x: 2rem;
  font-size: 1rem;
  transition: all ease 0.5s;
}

#contact {
  position: relative;
}
.dog-tax {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  border-radius: 2rem;
}

/* obfuscation */
span.obfu { 
  unicode-bidi:bidi-override; 
  direction:rtl; 
  cursor: default;
  line-height: 2rem; 
}
span.obfu.ema:before { content: "moc.li"; }
span.obfu.ema:after { content: "@ybsorcbhpesoj"; }
span.obfu.pho:before { content: "927 "; }
span.obfu.pho:after { content: " 2140"; }


@media screen and (max-width: 560px) {
  .text-haiku {
    font-size: 1.7rem;
    transition: ease all 0.5s;
 }
  .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 150px 2fr);
    gap: 0rem / 0rem | 1rem;
  }
  .grid *,
  .grid img:nth-child(n),
  .grid div:nth-child(n)  {
    grid-column: 1 / -1;
  }
  .grid img {
    margin-top: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .grid div {
    border-radius: 0 0 0.5rem 0.5rem;
  }

.dog-tax {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  max-width: 50vw;
}


@media screen and (max-width: 480px) {
  body {
    font-size: 1rem;
    transition: ease all 0.5s;
  }

  .contact {
    position: absolute;
    top: 2rem;
    transition: ease all 0.5s;
  }

  .text-haiku {
    font-size: 1.2rem;
    transition: ease all 0.5s;

  }  
  .image-container > picture > img {
    max-width: 50%;
    height: auto;
    transition: ease all 0.5s;
  }
  .image-container {
    height: 60vh;
}


@media screen and (max-width: 320px) {
  .text-haiku {
    font-size: 1rem;
    transition: ease all 0.5s;
 }  
}

@media screen and (max-width: 280px) {
  .text-haiku {
    font-size: .5rem;
    transition: ease all 0.5s;
  }  

  .text-haiku:after {
    content: 'Get in touch and let me know what device you're using... it's tiny!'
    font-size: 1rem;
    transition: ease all 0.5s;
    color: white;
  }
}



